:root {
    --cell-width: 150px;
    --cell-padding: 10px;
    --yellow: #ffa800;
    --secondary: #928f94;
}

/* main-styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px;
}

.btn {
    cursor: pointer;
}

/* users*/
.users-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 900px;
    max-width: 1800px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.users {
    border: 2px solid grey;
}

/* users__header */
.users__header {
    display: flex;
    border-bottom: 1px solid black;
    font-size: 24px;
}

.users__head {
    flex: 2;
    border-right: 1px solid grey;
    padding: 15px var(--cell-padding);
    font-weight: bold;
}

.users__head-age,
.users__head-gender,
.users__head-controls {
    flex: 1;
}

.users__head-controls {
    color: var(--secondary);
    text-align: center;
}

.users__head:last-child {
    border: none;
}

/* user */
.user {
    border-bottom: 1px solid black;
    display: block;
}

.user:last-of-type {
    border-bottom: none;
}

/* user-validation */

.user-new {
    display: block;
    border-top: 1px solid black;
}

.user__row {
    display: flex;
    font-size: 18px;
    position: relative;
}

.user__row--active::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 2px solid green;
}

.user__cell {
    padding: 30px var(--cell-padding);
    display: flex;
    align-items: center;
    flex: 2;
    border-right: 1px solid grey;
    position: relative;
}

.user__cell:last-child {
    border: none;
}

.users__head-controls,
.users__head-gender,
.users__head-age,
.user__cell-controls,
.user__cell-gender,
.user__cell-age {
    flex: 1;
    min-width: 120px;
}

.user__cell-controls {
    display: block;
}

/* validation */
.input-tip {
    display: block;
    position: absolute;
    content: '';
    top: -10px;
    left: 0px;

    font-size: 16px;
    background-color: var(--yellow);
    border-radius: 5px;
    padding: 5px;
}

.is-invalid::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 1px solid red;
    pointer-events: none;
}

/* .controls */
.user__controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-delete:hover {
    filter: var(--red-filter);
}

.btn-show {
    margin-top: 20px;
    align-self: center;
}
.btn-show:hover {
    filter: var(--green-filter);
}

.btn-save:hover,
.btn-edit:hover {
    filter: var(--royalblue-filter);
}
